/* Main Stylesheet for Balkanology.com - Alan Grant 2006 */

body {
        max-width: 70em;
	margin: 0 auto 0 auto;
	border-left: 1px solid #999999;
        border-right: 1px solid #999999;
        border-bottom: 1px solid #999999;
        font-family:  arial, sans-serif;
	padding: 0;
	color: #000000;
	background-color: #DDDDDD;
	font-size: 84%; 
        position: relative;

}

a:link { color: #660000; background-color: transparent; }
a:visited { color: #BB0055; background-color: transparent; }
a:hover { color: #BB0000; background-color: transparent;}
a:active { color: #660000; background-color: transparent;}
a:link img { border: 2px solid #666666; }
a:visited img { border: 2px solid #666666; }
a:hover img { border: 2px solid #BB0000; }
a:active img { border: 2px solid #666666; }

ul { list-style-type: square; }
ul.separated li { margin-bottom: 0.3em; }
ul.runon { margin-top: -0.7em ; }
blockquote { font-style: italic; }
.quotesource { 
  margin-left: 10em;
  margin-top: -0.7em; 
}

h1 {
  margin: 0;
	padding-top: 3px;
	padding-left: 0.5em;
  font-family: "maiandra gd", tahoma, arial, sans-serif;
	font-variant: small-caps;
}
h1 a:link, h1 a:visited , h1 a:hover, h1 a:active {
  text-decoration: none;
	color: #FFFFFF;
	background-color: transparent;
}
h2, h3, h4 {
  font-family: georgia, tahoma, arial, sans-serif;
	color: #990000;
}
h5, h6 {
   font-size: 100%;
   font-family: tahoma, arial, sans-serif;
	 color: #990000;
   margin-bottom: 0;
}

div#header {
  height: 50px;
	font-size: 15px;
	background-color: #990000;
	color: #FFFFFF; 
}
div#header a img {border: 0px;}

div#mainbox {
  background-color: #FFFFFF;
	color: #000000;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #999999;
 	margin-left: 125px;
	margin-right: 7em;
	padding: 1em;
	line-height: 140%;  
}
div#leftbox {
  text-align: center;
  position: absolute;
	left: 0;
	top: 50px;
	width: 125px;
	line-height: 130%;
}
div#rightbox {
  text-align: center;
  position: absolute;
	right: 0;
	top: 50px;
	width: 7em;
	line-height: 130%;
}
div#footer {
  margin: 0px 125px 1em 125px;
}

ul.sidemenu {
  padding: 0;
	margin: 2em 0 0 0; 
	border-top: 1px solid #999999;  
	font-size: 1em;
	list-style-position: outside;
	list-style-type: none;
	font-weight: bold;
}
ul.sidemenu a:link, ul.sidemenu a:visited, ul.sidemenu a:hover, ul.sidemenu a:active  {
  text-decoration: none;	
	display: block; 
  width: 100%;
	border-bottom: 1px solid #999999; 
}
ul.sidemenu a:hover {
  background-color: #990000;
	color: #FFFFFF; 
}

ul.sidemenu a.current:link, ul.sidemenu a.current:visited, ul.sidemenu a.current:hover, ul.sidemenu a.current:active {
  background-color: #666666;
	color: #FFFFFF; 
}

div.topmenu { 
  font-size: 0.9em;
	font-weight: bold;
  margin-top: 0.3em;
	margin-bottom: 2em;
	line-height: 125%;
}
ul.menuacross li {
  display: inline;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
div.topmenu ul.menuacross {
  display: inline; 
	padding-left: 1em;
	padding-right: 1em;
	font-weight: normal;
	border-bottom: 1px solid #666666;
	line-height: 150%;
}
div.topmenu a:link, div.topmenu a:visited, div.topmenu a:hover, div.topmenu a:active {
  text-decoration: none;	
	background-color: #EEEEEE;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
div.topmenu a.current:link, div.topmenu a.current:visited, div.topmenu a.current:hover, div.topmenu a.current:active {
  background-color: #666666;
	color: #FFFFFF;
}

div#footer ul.menuacross { 
  font-size: 0.9em;
	text-align: center;
	margin-top: 0.5em;
	padding: 0;
}
div#footer ul.menuacross li {
	border-right: 1px solid #999999;
}
div#footer ul.menuacross li.lastitem {
	border-right: none;
}

.aside {
	background-color: #EEEEEE;
	color: #000000;
	border: 1px solid #999999;
	padding: 0.5em;;
}
.aside blockquote {
  margin-left: 2em;
  margin-right: 2em;
}

div.imagebox, div.imageboxleft, div.imageboxright {
	font-size: 0.9em;
	background-color: #DDDDDD;
	color: #000000;
	border: 1px solid #999999;
}
div.imagebox { text-align: center; margin: 5px 0px 0px 0px; }
div.imageboxleft { text-align: center; float : left; margin: 5px 10px 5px 0px; }
div.imageboxright { text-align: center; float : right; margin: 5px 0px 5px 10px; }
div.imagebox img, div.imageboxleft img, div.imageboxright img { padding: 10px 5px 0px 5px;  }
div.imagebox p, div.imageboxleft p, div.imageboxright p { margin: 5px; font-weight: bold; } 

div.innerlink { 
	text-align: center;
	margin-bottom: 1em;
	font-size: 0.9em;
}

div.adbox {
  margin-top: 100px;
}
div.hadbox {
 	text-align: center;
	border: 1px solid #999999; 
	background-color: #eeeeee;
	margin-top: 5px;
	margin-bottom: 5px;
}

span.sitename { font-variant: small-caps; }
span.bookname { font-style: italic; }
p.narrow { width: 50% }

div.disclaimer {
	background-color: #EEEEEE;
	color: #000000;
	border: 1px solid #999999;
	padding: 0.5em;;
}